.card {
    margin-bottom: 250px;
    transition: transform 0.3s;
    border: none;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    height: 150px;
    object-fit: cover;
}

.card-title {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.card-text {
    color: #6c757d;
    font-size: 0.875rem;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    font-size: 0.875rem;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

/* Centrar las tarjetas */
.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Ajustar a la altura de la ventana */
}